<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DevCDRAgent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
      <DevCDRAgent.Properties.Settings>
        <setting name="Endpoint" serializeAs="String">
          <value>https://devcdr.azurewebsites.net/Chat</value>
        </setting>
        <setting name="Instance" serializeAs="String">
          <value>Default</value>
        </setting>
        <setting name="PSStatus" serializeAs="String">
          <value>
function OS
{
	Get-CimInstance Win32_OperatingSystem
}


function RebootPending
{
	$FileRenamePending = $false;
	$ComponentRebootPending = if(test-path "HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Component Based Servicing\RebootPending"){ $true } else { $false }
	try { if(@(((Get-ItemProperty("HKLM:\SYSTEM\CurrentControlSet\Control\Session Manager")).$("PendingFileRenameOperations")) | Where-Object { $_ }).length -ne 0) { $FileRenamePending = $true }; } catch{}
	if($FileRenamePending -or $ComponentRebootPending) { return $true };
	return $false;
}


function UsersOnline
{
	$proc = @(Get-WmiObject win32_process -Filter "Name = 'explorer.exe'");
	if($proc.Length -gt 0) { return $true } else { return $false };
}

$OS = (OS)
$UBR = (Get-ItemProperty 'HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion' -Name UBR).UBR
$object = New-Object -TypeName PSObject
$object | Add-Member -MemberType NoteProperty -Name "Hostname" -Value (hostname).ToUpper()
$object | Add-Member -MemberType NoteProperty -Name "Internal IP" -Value ((Test-Connection (hostname) -Count 1).IPV4Address.IPAddressToString)
$object | Add-Member -MemberType NoteProperty -Name "Last Reboot" -Value $OS.LastBootUpTime
$object | Add-Member -MemberType NoteProperty -Name "Reboot Pending" -Value (RebootPending)
$object | Add-Member -MemberType NoteProperty -Name "Users Online" -Value (UsersOnline)
$object | Add-Member -MemberType NoteProperty -Name "OS" -Value $OS.Caption
$object | Add-Member -MemberType NoteProperty -Name "Version" -Value ($OS.Version + '.' + $UBR)
$object | Add-Member -MemberType NoteProperty -Name "Arch" -Value $OS.OSArchitecture
$object | Add-Member -MemberType NoteProperty -Name "Lang" -Value $OS.OSLanguage
$object | ConvertTo-Json</value>
        </setting>
        <setting name="Groups" serializeAs="String">
          <value>unknown</value>
        </setting>
        <setting name="StatusDelay" serializeAs="String">
          <value>5000</value>
        </setting>
      </DevCDRAgent.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Aegis.SignalR.Infrastructures" publicKeyToken="280dc27c3ffc9248" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.18317" newVersion="1.0.3.18317" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
