<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aegis.SignalR.Client" version="1.0.2" targetFramework="net461" />
  <package id="Aegis.SignalR.Infrastructures" version="1.0.3" targetFramework="net461" />
  <package id="Costura.Fody" version="3.3.3" targetFramework="net461" />
  <package id="Fody" version="4.2.1" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.4.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
</packages>