<div class="row">
    <div class="form-group">
        <label>Custom PowerShell Command:</label>
        <textarea class="form-control" style="min-width: 100%; font-family: 'Courier New'" id="psScript" rows="4"></textarea>
        <small id="psScriptHelp" class="form-text text-muted">Run a custom PowerShell Script on all selected Devices...</small>
    </div>
    <input class="btn btn-default" type="button" onclick="RunPS()" value="Run PowerShell" />
</div>
