@{
    ViewBag.Title = "About JainDB";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>JainDB (c) 2018 by Roger Zander; Version: @ViewContext.Controller.GetType().Assembly.GetName().Version </p>