<p></p>
<link rel="stylesheet" href="../content/diff/html.css" type="text/css" />
@*<link rel="stylesheet" href="../content/diff/annotated.css" type="text/css" />*@
<link rel="stylesheet" href="../content/diff/style.css" type="text/css" />
<script src="../content/diff/jsondiffpatch.umd.min.js" type="text/javascript"></script>

<div id="visual" class=""></div>
<hr />
<div id="annotated"></div>
<script type="text/javascript">
    $(function () {
        var left = `@Html.Raw(ViewBag.jsonL)`;
        var right = `@Html.Raw(ViewBag.jsonR)`;

        var delta = jsondiffpatch.diff(right, left);

        // beautiful html diff
        document.getElementById('visual').innerHTML = jsondiffpatch.formatters.html.format(delta, left);

        // self-explained json
        //document.getElementById('annotated').innerHTML = jsondiffpatch.formatters.annotated.format(delta, left);
    })
</script>