@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Device Commander (DevCDR) is a cloud based Client/Server management solution.</p>
<p>This Solution is OpenSource and published under the <a href="https://github.com/rzander/DevCDR/blob/master/LICENSE">GNU General Public License v3.0</a>  </p>

<p>The Project-Page and Source is published on <a href="https://github.com/rzander/DevCDR">https://github.com/rzander/DevCDR</a></p>

<p>Current Version: </p>
