<p></p>
@{
    Layout = "_LayoutFrame";
}

<link href="~/jTree/jsonTree.css" rel="stylesheet" />
<script src="~/jTree/jquery-1.11.1.min.js"></script>
<script src="~/jTree/underscore-min.js"></script>
<script src="~/jTree/backbone-min.js"></script>
<script src="~/jTree/pretty-json-min.js"></script>

<hr />
<span id="result"></span>
<hr />


<script type="text/javascript">
    $(document).ready(function () {
        var el = {
            result: $('#result')
        }

        // Get json-data by javascript-object
        var json = @Html.Raw(Json.Serialize(ViewBag.jsonL));
        var o;
        try { o = JSON.parse(json); }
        catch (e) {
            alert('not valid JSON' + e);
            return;
        }

        var node = new PrettyJSON.view.Node({
            el: el.result,
            data: o
        });
    });
</script>