@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Device Commander (DevCDR) is a cloud based Client/Server management solution.</p>
<p>This Solution is OpenSource and published under the <a href="https://github.com/rzander/DevCDR/blob/master/LICENSE">GNU General Public License v3.0</a>  </p>

<p>The Project-Page and Source is published on <a href="https://github.com/rzander/DevCDR">https://github.com/rzander/DevCDR</a></p>


<p>Current Version: @ViewBag.appVersion </p>

<p>
    The Project is using the following sub-componens:
    <ul>
        <li>Bootstrap (MIT): <a href="https://github.com/twbs/bootstrap">https://github.com/twbs/bootstrap</a> </li>
        <li>JainDB (MIT): <a href="https://github.com/rzander/jaindb">https://github.com/rzander/jaindb</a> </li>
        <li>RuckZuck (MS-PL): <a href="https://github.com/rzander/ruckzuck">https://github.com/rzander/ruckzuck</a> </li>
        <li>jQuery (MIT): <a href="https://jquery.com">https://jquery.com</a> </li>
        <li>DataTables (MIT):  <a href="https://datatables.net">https://datatables.net</a> </li>
        <li>Eventcontrol (MIT): <a href="https://github.com/krig/eventcontrol">https://github.com/krig/eventcontrol</a> </li>
        <li>jQuery ContextMenu (MIT): <a href="https://github.com/swisnl/jQuery-contextMenu">https://github.com/swisnl/jQuery-contextMenu</a> </li>
        <li>SignalR (Apache 2.0): <a href="https://github.com/dotnet/aspnetcore/tree/master/src/SignalR">https://github.com/dotnet/aspnetcore/tree/master/src/SignalR</a> </li>
    </ul>
</p>

