@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Roger Zander<br />
    8483 Kollbrunn<br />
    Switzerland
</address>

<address>
    <strong>Support:</strong>  <a href="mailto:roger@zander.ch">roger@zander.ch</a>
</address>