@{
    ViewBag.Title = "About JainDB";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>JainDB (c) 2018 by Roger Zander; Version: @ViewBag.appVersion</p>

<p>References:</p>
<li>TimeLine control: https://github.com/krig/eventcontrol</li>