<p></p>

<link href="~/diff/html.css" rel="stylesheet" />
<script src="~/diff/jsondiffpatch.js"></script>
<script src="~/diff/jsondiffpatch-formatters.js"></script>

@*//https://github.com/krig/eventcontrol*@
<link href="~/diff/eventcontrol.css" rel="stylesheet" />

<style>
    body {
        background-color: #fafafa;
    }

    .eventcontrol-target {
        width: 100%;
        height: 64px;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        background: #eee;
        margin-top: 5px;
        padding: 4px;
        overflow: hidden;
        text-align: center;
    }

        .eventcontrol-target h2 {
            margin: 0;
            font-size: 48px;
        }
</style>

<div class="container">
    <div class="eventcontrol"></div>
</div>

<script src="~/diff/jquery-1.12.2.min.js"></script>
<script src="~/diff/moment.min.js"></script>
<script src="~/diff/jquery.mousewheel.min.js"></script>
<script src="~/diff/hammer.min.js"></script>
<script src="~/diff/eventcontrol.js"></script>

<script>
    $(function () {
        'use strict';
        var hist = @Html.Raw(ViewBag.History);
        console.log(hist);

        $('.eventcontrol').EventControl({
            hammertime: true,
            onhover: function (item, element, event, inout) {
                if (inout == 'out') {
                    $('.eventcontrol-target').html('');
                    element.css('color', element.data('clr'));
                } else {
                    element.attr('title', moment(item.timestamp).format('YYYY-MM-DD HH:mm'));
                }
            },
            oncreate: function (item, element) {
                if (item.type == 'error') {
                    element.css('color', '#e74c3c');
                } else if (item.type == 'warning') {
                    element.css('color', '#e67e22');
                } else {
                    element.css('color', '#1abc9c');
                }
            },
            onclick: function (item, element, event) {
                //alert(item.index);
                window.location.href = "Diff?id=@ViewBag.Id&r=" + item.index;
            },
            data: hist

        });
    });
</script>

<div id="visual" class=""></div>
<div id="annotated"></div>
<script type="text/javascript">
    $(function () {
        var left = @Html.Raw(ViewBag.jsonL);
        var right = @Html.Raw(ViewBag.jsonR);

        //var delta = jsondiffpatch.diff(right, left);
        var delta = jsondiffpatch.create({
            objectHash: function (obj, index) {
                // try to find an id property, otherwise just use the index in the array
                return obj.name || obj.id || obj._id || obj.PropertyName || obj.name || obj.DisplayName || obj.DeviceID || obj.HotFixID || '$$index:' + index;
            }
        }).diff(left, right);

        // beautiful html diff
        document.getElementById('visual').innerHTML = jsondiffpatch.formatters.html.format(delta, right);
        jsondiffpatch.formatters.html.hideUnchanged();
        // self-explained json
        //document.getElementById('annotated').innerHTML = jsondiffpatch.formatters.annotated.format(delta, left);
    })
</script>